extends layout

block content
  
  h1 Mosaico
  .container(style="border: solid 2px red")
      each personaje in personajes 
        .card(style='width: 18rem;')
          img.card-img-top(src=`${personaje.image}` alt='...')
          .card-body
            h5.card-title ##{personaje.id} #{personaje.name}
            h6.card-subtitle.mb-2.text-body-secondary #{personaje.gender}
            p.card-text #{new Date(personaje.created).toISOString().split('T')[0]}
            button.btn.btn-warning(type='button') Guardar en BD